@use '../../styles/partials/variables' as *;

.nav__btn {
  font-size: 1rem;

  &:hover {
    background-color: $secondary !important;
    color: white !important;
  }

  &--active {
    background-color: $secondary !important;
    color: white !important;
  }
}

.nav__logo {
  width: 2.5rem;
  margin-right: 1rem;
  margin-top: -1rem;
  cursor: pointer;
}