@use '../../styles/partials/variables' as *;

.nav__btn{
    font-size: 1rem;

    &:hover{
        background-color: $secondary !important;
        color: white !important;
    }

    &--active{
        background-color: $secondary !important;
        color: white !important;
    }
}