.main-news__card{
    padding-left: 0.4rem;

    &:hover{
        border: 1px solid #dee2e6 !important;
    }

}

.news-card{

    &__image{
    width: 7rem;
    height: 6rem;
    object-fit: cover;
    }
}