/* Color Theme Swatches in Hex */
$deep-water-for-a-submarine-1-hex: #145952;
$deep-water-for-a-submarine-2-hex: #41A693;
$deep-water-for-a-submarine-3-hex: #91D9CC;
$deep-water-for-a-submarine-4-hex: #F2F2F2;
$deep-water-for-a-submarine-5-hex: #8C6432;


